In [1]:
%run ExtractAPI.ipynb

DF created: 0 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/a6f7a8e8-e497-4f77-9881-daba429ea981/download/approved-operating-budget-summary-2023.xlsx
DF created: 1 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/9e5f9a63-fdeb-46e4-9f5f-8143038de56d/download/approved-operating-budget-summary-2022.xlsx
Sheetname not found: 2014
Sheetname not found: 2015
Sheetname not found: 2016
Sheetname not found: 2017
Sheetname not found: 2018
Sheetname not found: 2019
Sheetname not found: 2020
DF created: 2 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/930502fa-87f1-4d71-8b71-4435df594b38/download/2021-open-data2.xlsx
DF created: 3 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/4e58558a-4773-4cd0-a16a-de481f25cb4d/download/2020-operating-open-data.xlsx
Sheetname not found: 2014
Sheetname not found: 2015
Sheetname not found: 2016
Sheetname not found: 2017
Sheetname not found: 2018
DF created: 4 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/27bc496e-1507-4d2e-b9f8-4392b1d44b5c/download/approved-operating-budget-summary-2019.xlsx
DF created: 5 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/8ff2e379-2bbf-43ab-83eb-2caa7717d85b/download/approved-operating-budget-summary-2018.xlsx
DF created: 6 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/393dffb4-2f7a-4ff3-8443-e44796f08782/download/approved-operating-budget-summary-2017.xlsx
DF created: 7 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/d55a2458-f116-456e-a3be-4a0d867fa190/download/approved-operating-budget-summary-2016.xlsx
DF created: 9 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/4a87ff46-996b-4768-b833-69e023b1b4c4/download/approved-operating-budget-summary-2015.xlsx

C:\Users\lukas\anaconda3\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

DF created: 10 - https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/2c90a5d3-5598-4c02-abf2-169456c8f1f1/resource/7e23b244-91a7-4e70-9baf-be231ff58d59/download/approved-operating-budget-summary-2014.xlsx
------------------------------
Index([          'Program',           'Service',          'Activity',
         'Expense/Revenue',     'Category Name', 'Sub-Category Name',
         'Commitment item',                2023],
      dtype='object')
DF Size = 20127 Rows.
--------------------
Index([          'Program',           'Service',          'Activity',
         'Expense/Revenue',     'Category Name', 'Sub-Category Name',
         'Commitment item',                2022],
      dtype='object')
DF Size = 19714 Rows.
--------------------
Index([          'Program',           'Service',          'Activity',
         'Expense/Revenue',     'Category Name', 'Sub-Category Name',
         'Commitment item',                2021],
      dtype='object')
DF Size = 20816 Rows.
--------------------
Index([          'Program',           'Service',          'Activity',
         'Expense/Revenue',     'Category Name', 'Sub-Category Name',
         'Commitment item',                2020],
      dtype='object')
DF Size = 17779 Rows.
--------------------
Index([          'Program',           'Service',          'Activity',
         'Expense/Revenue',     'Category Name', 'Sub-Category Name',
         'Commitment item',                2019],
      dtype='object')
DF Size = 19428 Rows.
--------------------
Index(['Program', 'Service', 'Activity', 'Category Name', 'Expense/Revenue',
       2018],
      dtype='object')
DF Size = 2610 Rows.
--------------------
Index(['Program', 'Service', 'Activity', 'Category Name', 'Expense/Revenue',
       2017],
      dtype='object')
DF Size = 2604 Rows.
--------------------
Index(['Program', 'Service', 'Category Name', 'Expense/Revenue', ' 2016'], dtype='object')
DF Size = 1312 Rows.
--------------------
RangeIndex(start=0, stop=0, step=1)
DF Size = 0 Rows.
--------------------
Index([        'Program',         'Service',        'Activity',
         'Category Name',        'Category', 'Expense/Revenue',
                    2015],
      dtype='object')
DF Size = 2631 Rows.
--------------------
Index(['Program', 'Category Name', 'Category', 'Expense/Revenue', 2014], dtype='object')
DF Size = 538 Rows.
--------------------
RangeIndex(start=0, stop=0, step=1)
DF Size = 0 Rows.
--------------------

In [12]:
budget2023_df_rev.head(5)

,Program,Service,Activity,Expense/Revenue,Category Name,Sub-Category Name,Commitment item,Budgeted amount 2023
91,311 Toronto,311 Development,311 PMO,Revenues,Transfers From Capital,Transfers From Capital,Transfers From Capital Fund,-1745921.89
92,311 Toronto,311 Service Delivery,311 Service Delivery,Revenues,Contribution From Reserves/Reserve Funds,Contribution From Reserves/Reserve Funds,Contributions From Reserve Funds,-290495.00
93,311 Toronto,311 Service Delivery,311 Service Delivery,Revenues,Inter-Divisional Recoveries,Inter-Divisional Recoveries,IDR - Public Health,-169235.00
94,311 Toronto,311 Service Delivery,311 Service Delivery,Revenues,Inter-Divisional Recoveries,Inter-Divisional Recoveries,IDR - Solid Waste Mgmt Services,-4208952.00
95,311 Toronto,311 Service Delivery,311 Service Delivery,Revenues,Inter-Divisional Recoveries,Inter-Divisional Recoveries,IDR - Water Services,-2282813.00

In [2]:
# df_list contains the names of DataFrames
df_list = ['budget2019_df', 'budget2020_df', 'budget2021_df', 'budget2022_df', 'budget2023_df']

new_df = []  # Empty list to store the renamed dataframe

for i, df_name in enumerate(df_list):
    year = 2019 + i
    old_column_name = f'Budgeted amount {year}'  # Old column name

    # Get the actual DataFrame from the list
    df = globals()[df_name].copy()

    # Rename the column in the copy of the DataFrame
    df.rename(columns={old_column_name: 'Budgeted amount'}, inplace=True)

    # Append the modified DataFrame to new_df
    new_df.append(df)

# Concatenate the DataFrames in the list into a single DataFrame
renamed_df = pd.concat(new_df, ignore_index=True)

In [3]:
renamed_expenses = renamed_df[renamed_df['Expense/Revenue']=='Expenses'] #Filtering dataframe for revenues
#renamed_expenses

In [4]:
#Outliers for expenses
all_outliers_exp = pd.DataFrame() #Creating an empty dataframe to store the outliers
lower_quartiles_exp = renamed_expenses.groupby('Category Name')['Budgeted amount'].transform(lambda x: x.quantile(0.25)) #Calculating the lower quantile
upper_quartiles_exp = renamed_expenses.groupby('Category Name')['Budgeted amount'].transform(lambda x: x.quantile(0.75)) #Calculating the upper quantile
iqr_exp = upper_quartiles_exp - lower_quartiles_exp #Calculating the interquantile range
lower_bound_exp = lower_quartiles_exp - 1.5 * iqr_exp #Calculating the lower bound by using the values from the lower quantiles to find the minimum threshold
upper_bound_exp = upper_quartiles_exp + 1.5 * iqr_exp  #Calculating the lower bound by using the values from the lower quantiles to find the minimum threshold
outliers_exp = renamed_expenses[(renamed_expenses['Budgeted amount'] < lower_bound_exp) | (renamed_expenses['Budgeted amount'] > upper_bound_exp)] #Identifing and filtering outliers in the 'Budgeted amount' column based on the calculated lower and upper bounds for expenses.
all_outliers_exp = pd.concat([all_outliers_exp, outliers_exp], ignore_index=True) #Combining identified outliers from each dataframe and create a final dataframe
# Display the result
#all_outliers_exp.sort_values('Budgeted amount', ascending=False)

In [5]:
#Calculating the total outliers for each category to see which category has the highest and lowest outliers

# Group by 'Program' and calculate the sum of 'Budgeted amount' for outliers
outliers_sum_by_cat = all_outliers_exp.groupby('Category Name')['Budgeted amount'].sum().reset_index()

# Sort by the sum of outliers in descending order
outliers_sum_by_cat = outliers_sum_by_cat.sort_values('Budgeted amount', ascending=False)

# Display the result
#print("Categories with the highest sum of outliers for expenses:")
#outliers_sum_by_cat

In [6]:
renamed_revenues = renamed_df[renamed_df['Expense/Revenue']=='Revenues'] #Filtering dataframe for revenues
#renamed_revenues

In [7]:
#Outliers for revenues
all_outliers_rev = pd.DataFrame()
renamed_revenues.loc[:,'Budgeted amount'] = pd.to_numeric(renamed_revenues['Budgeted amount'], errors='coerce')
lower_quartiles_rev = renamed_revenues.groupby('Category Name')['Budgeted amount'].transform(lambda x: x.quantile(0.25))
upper_quartiles_rev = renamed_revenues.groupby('Category Name')['Budgeted amount'].transform(lambda x: x.quantile(0.75))
iqr_rev = upper_quartiles_rev - lower_quartiles_rev
lower_bound_rev = lower_quartiles_rev - 1.5 * iqr_rev
upper_bound_rev = upper_quartiles_rev + 1.5 * iqr_rev
outliers_rev = renamed_revenues[(renamed_revenues['Budgeted amount'] < lower_bound_rev) | (renamed_revenues['Budgeted amount'] > upper_bound_rev)]
all_outliers_rev = pd.concat([all_outliers_rev, outliers_rev], ignore_index=True)
#all_outliers_rev.sort_values('Budgeted amount', ascending=False)

In [8]:
#Calculating the total outliers for each category to see which category has the highest and lowest outliers
# Group by 'Program' and calculate the sum of 'Budgeted amount' for outliers
outliers_sum_by_cat_rev = all_outliers_rev.groupby('Category Name')['Budgeted amount'].sum().reset_index()

# Sort by the sum of outliers in descending order
outliers_sum_by_cat_rev = outliers_sum_by_cat_rev.sort_values('Budgeted amount', ascending=True)

# Display the result
#print("Categories with the highest sum of outliers for revenue:")
#outliers_sum_by_cat_rev

In [13]:
db_list = ["OL_renamed_expenses", "OL_all_outliers_exp", "OL_outliers_sum_by_cat", "OL_renamed_revenues", "OL_all_outliers_rev", "OL_outliers_sum_by_cat_rev"]
df_to_db_list = [renamed_expenses, all_outliers_exp, outliers_sum_by_cat, renamed_revenues, all_outliers_rev, outliers_sum_by_cat_rev]

from pymongo import MongoClient
from pprint import pprint

url = "mongodb+srv://city_toronto:project3@cluster0.gt72z8e.mongodb.net/"

# MongoDB Atlas connection details
connection_string = "mongodb+srv://city_toronto:project3@cluster0.gt72z8e.mongodb.net/"
database_name = 'city_toronto'

# Connect to MongoDB Atlas
client = MongoClient(connection_string)
db = client[database_name]

for i in range(0, len(df_to_db_list)):
    
    collection_name = db_list[i]
    
    if collection_name not in db.list_collection_names():
        db.create_collection(collection_name)

    collection = db[collection_name]

    # Convert dataframe to dictionary format and insert into MongoDB
    data_dict = df_to_db_list[i].to_dict(orient='records')
    collection.insert_many(data_dict)